* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  background-color: #0e100f;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
  padding: 10px 45px;
  margin: 15px 0;
}
#nav-items a {
  margin: 0 20px;
}
