* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  overflow-x: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #212121;
}
#page2 {
  height: 100vh;
  width: 100%;
  background-color: lightskyblue;
}
#page3 {
  height: 100vh;
  width: 100%;
  background-color: #212121;
}
h1 {
  font-size: 25vw;
  text-wrap: nowrap;
  text-transform: uppercase;
  padding-top: 120px;
}
