@font-face {
  font-family: china;
  src: url(src/font/3856NeueMachina.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: china;
}
body {
  padding-bottom: 80px;
}
#cursorPointer {
  width: 20px;
  height: 20px;
  background: #b9ff66;
  opacity: 0;
  border-radius: 50%;
  position: fixed;
}
nav {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding: 20px 30px;
  color: #1f1f1f;
}
#brandName {
  display: flex;
  gap: 8px;
  align-items: center;
}
#brandName h2 {
  color: #1f1f1f;
  font-weight: 800;
}
#brandName i {
  color: #1f1f1f;
  font-size: 30px;
  font-weight: 800;
  rotate: 50deg;
}
#pages {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
#pages h4 {
  font-weight: 500;
  font-size: 18px;
}
#pages button {
  font-weight: 500;
  font-size: 18px;
  padding: 12px 40px;
  border: 2px solid #1f1f1f;
  border-radius: 18px;
  background: transparent;
}
section {
  padding: 25px 120px;
}
#center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 45px;
}
#center1 {
  height: 100%;
  width: 100%;
}
#center1 h1 {
  font-size: 62px;
  font-weight: 800;
}
#center1 p {
  margin-top: 45px;
  width: 80%;
}
#center1 button {
  margin-top: 35px;
  background: #1f1f1f;
  color: #fff;
  padding: 18px 22px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
#center2 {
  height: 100%;
  width: 100%;
}
#center2 img {
  height: 100%;
}
#partnerBrandLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 85px 45px;
}
#partnerBrandLogos img {
  width: 120px;
  filter: grayscale(1);
}
#servicesHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  gap: 20px;
}
#servicesHeader h3 {
  font-size: 30px;
  background: #b9ff66;
  padding: 5px 2px;
}
#servicesHeader p {
  width: 55%;
}
#servicesCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
  gap: 45px;
  flex-wrap: wrap; /* Added property */
}
#servicesCards .card {
  width: calc(50% - 25px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  border: 2px solid #1f1f1f;
  border-bottom: 12px solid #1f1f1f;
  border-radius: 40px;
  height: 320px;
  gap: 30px;
}
#servicesCards .card .cardLeftPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
  height: 100%;
}
#servicesCards .card .cardLeftPart .content-group h4 {
  font-size: 25px;
  background: #b9ff66;
  padding: 5px;
  border-radius: 8px;
}
#servicesCards .card .cardLeftPart .content-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#servicesCards .card .cardLeftPart .content-footer i {
  font-size: 30px;
  background: #1f1f1f;
  color: #b9ff66;
  padding: 4px 5px;
  border-radius: 50%;
}
#servicesCards .card .display-group img {
  height: 240px;
}
/* dark */
#servicesCards .card.dark {
  background: #1f1f1f;
}
#servicesCards .card.dark .cardLeftPart .content-group h4 {
  font-size: 25px;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
}
#servicesCards .card.dark .cardLeftPart .content-footer i {
  background: #fff;
  color: #1f1f1f;
}
#servicesCards .card.dark .cardLeftPart .content-footer p {
  color: #fff;
}
#servicesCards .card .display-group img {
  height: 240px;
}
/* Proposal */
#proposal #servicesCards {
  margin-top: 55px;
}
#proposal #servicesCards .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px;
  background: #f3f3f3;
  border: none;
  border-radius: 40px;
  height: 320px;
  gap: 30px;
}
#proposal #servicesCards .card .cardLeftPart {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
  height: 100%;
}
#proposal #servicesCards .card .cardLeftPart .content-group h4 {
  font-size: 30px;
  background: transparent;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 20px;
}
#proposal #servicesCards .card .cardLeftPart .content-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#proposal #servicesCards .card .cardLeftPart .content-footer button {
  margin-top: 35px;
  background: #1f1f1f;
  color: #fff;
  padding: 18px 22px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}
#proposal #servicesCards .card .display-group img {
  flex-basis: 55%;
  height: 310px;
  margin-top: 35px;
  margin-right: 45px;
}
/* Case Study */
#caseStudy {
  margin-top: 55px;
}
#caseStudy #servicesCards {
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
  flex-wrap: nowrap;
  padding: 15px 45px 45px 45px;
  border-radius: 40px;
}
#caseStudy #servicesCards .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #1f1f1f;
  border-bottom: 12px solid #1f1f1f;
  border-radius: 40px;
  height: 220px;
  gap: 30px;
}
#caseStudy #servicesCards .card .cardLeftPart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  align-items: flex-start;
  height: 100%;
}
#caseStudy #servicesCards .card .cardLeftPart .content-group p {
  color: #fff;
}
#caseStudy #servicesCards .card .cardLeftPart .content-footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#caseStudy #servicesCards .card .cardLeftPart .content-footer i {
  color: #b9ff66;
}
#caseStudy #servicesCards .card .cardLeftPart .content-footer p {
  color: #b9ff66;
}
#caseStudy #servicesCards .line {
  background: #fff;
  width: 2px;
  height: 180px;
}
