* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}
#page1,
#page2,
#page3 {
  width: 100vw;
  height: 100vh;
  background: #313131;
}

#move {
  background: red;
  padding: 5vh 0;
  display: flex;
}

#marquee {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightgreen;
  gap: 2vw;
}

#marquee h1 {
  font-size: 3vw;
  color: #313131;
}
#marquee img {
  width: 4vw;
}
